/*
Fonte: Lato (google fonts)
Cor das fontes: #ff6b28
Cor da top bar e da footer: #ff6b28
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html, 
body {
    margin: 0;
    padding: 0;
}

.top-bar {
    background-color: #ff6b28;
    text-align: center;
    padding: 15px;
}

.hero {
    background: url("./images/hero_bolo.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
}